.DS_Store
/.quarto/
/.luarc.json
.Rproj.user
.cursorignore

# misc knit files
*.aux
*.gz
*.log
*.rdx
*.rdb
#*.knit.md
*.results
*.canvas
*.vdoc.r
*.here


~$*

.lintr
.luarc.json
license 

# folders
.trash/*
.obsidian/*
.quarto/*
_freeze/*
.vscode/*
rsconnect/*
_extensions/*
.pandoc/*

node_modules/*
package-lock.json
package.json


fig/old/*


tables.qmd
*tables*


read*

misc/*
misc/_CH_29 Beattie Chatbots.docx
misc/_CH_30 Prahl PerceptionsMachines.docx



docs/misc/*