


/* Callouts */

.callout {
    background-color: #f8f8f8;
    font-size: .95em;
  }
  
  .callout .sourceCode {
    background-color: #f8f8f8;
    border: none;
  }
  
  .halfsize {
    width: 50%;
    float: right;
    margin-left: 1.5em;
    margin-top: .5em;
  }
  
  /* Tables */
  
  .table {
    font-size: .80em;
  }


/* TESTING/ VIEWING HEX COLORS */
.my_greyscale {
    color: #000000;
    color: #525252;
    color: #717171;
    color: #929292;
    color: #BABABA;
    color: #DADADA;
  }
  
  .my_colorblind {
    color: #999999;
    color: #E69F00;
    color: #56B4E9;
    color: #009E73;
    color: #F0E442;
    color: #0072B2;
    color: #D55E00;
    color: #CC79A7;
  }